@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .wrapper {
    @apply px-[48px];
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  #auth-input.active {
    @apply !bg-[#fff] border-[2px] border-color-3 text-color-3;
  }

  #auth-input.error {
    @apply !bg-[#fff] border-[2px] border-red-600 text-red-600;
  }

  #auth-input.error input::placeholder {
    @apply text-red-600;
  }

  #auth-input.active input::placeholder {
    @apply text-color-3;
  }

  #auth-input {
    @apply transition-all border-[2px] border-[#f5f5f5] flex w-full justify-between items-center px-[20px] bg-[#f5f5f5] rounded-[14px];
  }

  #auth-input input {
    @apply h-[60px];
  }

  .main-menu-items {
    @apply w-[100%] rounded-[12px] flex items-center p-[16px] gap-[10px];
  }

  .main-menu-items.active {
    @apply bg-color-3 rounded-[12px] flex items-center p-[16px] text-white;
  }

  .main-search-query {
    @apply h-[40px] w-[120px] flex-center text-color-3;
  }

  .main-search-query.active {
    @apply h-[40px] w-[120px] flex-center bg-color-3 text-white;
  }
  #dashboard-content::-webkit-scrollbar,
  .orders::-webkit-scrollbar {
    appearance: none;
    width: 0;
  }
}

.poppins {
  font-family: "Poppins";
}

.manrope {
  font-family: "Manrope";
}
